/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

/* Style For Global */
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --main: #3d3d3d;
    --second: #1e1d1d;
    --third: #343434;
    --darkok: #121212;
}

body {
    margin: 0;
}

/* Movie Card Layout */

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.25rem;
    background-color: var(--darkok);
}

.errmsg {
    color: red;
}

.movieList p.warning {
    color: red;
    font-size: 30px;
    padding: 15rem;
    text-align: center;
}

/* Movie Card Design */

.movieCard {
    background-color: var(--second);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.movieCard img {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.movieCard img {
    width: 100%;
    transition: 1s;
}

.movieCard:hover {
    box-shadow: 0 10px 15px rgba(255, 61, 0, 0.5);
}

.movieCard:hover img {
    filter: blur(3.5px);
    transform: translateY(-20px);
}

/* Movie Card Title & Rating */

.info {
    color: #fff;
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info h3 {
    margin-top: 0rem;
}

.info span {
    background-color: #393939;
    border-radius: 15px;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

/* Movie Card Overview */

.overview {
    background-color: rgba(20, 20, 20, 0.9);
    bottom: 0;
    color: #fff;
    box-sizing: border-box;
    left: 0;
    letter-spacing: 0.5px;
    max-height: 100%;
    padding: 20px 20px 0px 20px;
    position: absolute;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.35s ease-in;
    width: 100%;
}

.movieCard:hover .overview {
    transform: translateY(0);
}

/* Movie Card Button More Details */

.overview button {
    background-color: #393939;
    border-radius: 50px;
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 20px;
}

.overview button:hover {
    box-shadow: 0 10px 15px rgba(255, 61, 0, 0.5);
}

.overview button:active {
    background-color: rgba(255, 61, 0, 0.5);
    outline: none;
}

.overview button:focus {
    outline: none;
    border: none;
}

/* ------------------ Navigation Bar Start ------------------ */

nav {
    background: var(--second);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}

nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

nav .logo span {
    color: #ff3d00;
}

nav .nav-items {
    display: flex;
    flex: 1;
    padding: 0 0 0 10px;
}

nav .nav-items li {
    list-style: none;
    padding: 0 15px;
}

nav .nav-items li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .nav-items li a:hover {
    color: #ff3d00;
}

nav .login {
    padding: 0 0 0 40px;
}

nav .login li {
    list-style: none;
    padding: 0 15px;
}

nav .login li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

nav .login li a:hover {
    color: #ff3d00;
}

nav form {
    display: flex;
    height: 40px;
    padding: 2px;
    background: var(--third);
    min-width: 18% !important;
    border-radius: 30px;
    border: 1px solid #252525;
}

nav form .search-data {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}

.navSpan {
    color: white;
}

nav form .search-data:focus {
    border-radius: 30px;
    outline: 1px solid #707070 !important;
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }
    nav .logo {
        flex: 2;
        text-align: center;
    }
    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #14181f;
        display: inline-block;
        transition: left 0.3s ease;
    }
    nav .nav-items.active {
        left: 0px;
    }
    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }
    nav .nav-items li a {
        font-size: 20px;
    }
    nav form {
        position: absolute;
        top: 80px;
        right: 50px;
        opacity: 0;
        pointer-events: none;
        transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active {
        top: 95px;
        opacity: 1;
        pointer-events: auto;
    }

    nav form:before {
        position: absolute;
        content: "";
        top: -13px;
        right: 0px;
        width: 0;
        height: 0;
        z-index: -1;
        border: 10px solid transparent;
        border-bottom-color: #1e232b;
        margin: -20px 0 0;
    }

    nav form:after {
        position: absolute;
        content: "";
        height: 60px;
        padding: 2px;
        background: #1e232b;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

table {
    max-width: 1200px;
    margin: 0 auto;
}

/* ------------------ Navigation Bar End ------------------ */

.formDesign {
    background-color: #121212;
}

.BackDark {
    background-color: #121212;
}

.dashboard {
    color: white;
}

.dashboard .btn {
    background: #1e1d1d;
    width: 350px;
}

.movieManagement {
    color: white;
}

.movieManagement .btn {
    width: 130px;
    margin: 5px 0px 5px 0;
}

.pageTitle {
    color: white;
    padding: 3rem 0 0 7rem;
}

.pagination {
    display: inline-block;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    margin-top: 20px;
    margin-left: 10px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}
